div.workarea { padding:10px; float:left;margin-top:50px; }

ul.draglist { 
    position: relative;
    width: 915px; 
    background: #f7f7f7;
    border: 1px solid gray;
    list-style: none;
    margin:0;
    padding:0;
    margin-top:10px;
}


li.ddLi {
    background-color: #D8D4E2;
    border:1px solid #7EA6B2;
	/*margin-top:1px;
	margin-bottom:1px;	    */
}

div.liData
{
	margin-left:2px;
	margin-right:2px;
	/*margin-top:1px;
	margin-bottom:1px;	*/
	/*float:right;*/
}
p.liDataP
{
	margin-left:2px;
	margin-right:2px;
	/*margin-top:1px;
	margin-bottom:1px;	*/
	float:left;
}