<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="PhysicalPath" value="E:\MyProjects\UNCHS\tags\Release22\UNCHS"/>
		<add key="SourceCompanyId" value="1"/>
		<add key="SourceDepartmentId" value="1"/>
		<!--
    <add key="SCDefaulturl" value="http://www.test-simplicity4business.co.uk/Default.aspx"/>
    <add key="SCurl" value="http://www.test-simplicity4business.co.uk"/>
		<add key="LoginURL" value="http://www.test-simplicity4business.co.uk/CustomerLogin.aspx"/>
		<add key="SimplicityErrorURL" value="http://www.test-simplicity4business.co.uk/Error.aspx"/>
    <add key="LogoutURL" value="http://www.test-simplicity4business.co.uk/Logout.aspx"/>
    -->
    <add key="SCDefaulturl" value="http://localhost:33412/Default.aspx"/>
    <add key="SCurl" value="http://localhost:33412"/>
    <add key="SimplicityErrorURL" value="http://localhost:33412/Error.aspx"/>
    <add key="LogoutURL" value="http://localhost:33412/Logout.aspx"/>

    <add key="HSProductIDInSimplicity" value="2"/>
		<add key="UseFormsAuthentication" value="true"/>
	</appSettings>
	<connectionStrings>
    <add name="UNCHSConnectionString" connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=HS22;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="SimplicityEntities" connectionString="metadata=res://*/SimplicityDataModel.csdl|res://*/SimplicityDataModel.ssdl|res://*/SimplicityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HP\SQLEXPRESS;Initial Catalog=Simplicity;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>

    <authentication mode="Forms">
      <!--  for production give domain as well -->
      <forms name=".ASPXUSERDEMO" loginUrl="Login.aspx" protection="All" timeout="30" cookieless="UseCookies" domain="" enableCrossAppRedirects="true"/>
    </authentication>
    <machineKey validationKey="2C202C020E48377C38A5048F20CA5FF4F29C05EE0F0E7D3C54E274E5A79F68028DBFCDA1780905A25714AA6644EEC60F234205790B55EC0D6D4AB7DA3AED88F1" decryptionKey="8E25DECBE9A13C8FB66DFA49FC06263795732554BDD0C26D0C18D00BA24BEF11" validation="SHA1" decryption="AES" />
    <globalization culture="en-GB"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows"/>-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Login.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
